# Razorpay Secret Keys
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here

# Razorpay Webhook Secret (Set this in the Razorpay Dashboard to authenticate webhooks securely)
RAZORPAY_WEBHOOK_SECRET=your_custom_webhook_secret_here

# Database URL used by Prisma to track the stablecoin Purchases
DATABASE_URL=""
PORT=5000
